@import "reset";
@import "plp";
@import "pdp";
@import "register";
@import "signin";


body{
    font-family: 'ABeeZee', sans-serif;
}

.container{
    max-width: 1312px;
    margin: 0 auto;
    padding: 0 20px;
}

.first-navbar{
    width: 1248px;
    height: 25px;
    box-shadow: 0px 0px 4px gray;
    color: #000;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px; 
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.first-navbar__warpper{
    display: flex;
    width: 100%;
    max-width: 380px;
    align-items: center;
    justify-content: space-between;
}

.first-navbar__text > p{
    width: 100%;
    width: 135px;
    height: 25px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-navbar__text1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 58px;
    height: 14px;

}

.first-navbar__text2{
    display: flex;
    width: 79px;
    height: 14px;
    flex-direction: column;
    justify-content: center;
}

.first-navbar__warpper2{
    display: flex;
    width: 100%;
    max-width: 280px;
    align-items: center;
    justify-content: space-between;
}

.first-navbar__text3{
    display: flex;
    max-width: 80px;
    justify-content: space-between;
}
.first-navbar__text3 > img{
    margin-left: 4px;
}



nav{
    width: 100%;
    max-width: 1248px;
    height: 48px;
    margin-top: 22px;
    margin-bottom: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__icon{
    max-width: 64px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.navbar__btn{
    padding: 13px 61.188px 13px 61.813px;
    align-items: flex-start;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    background-color: #3665F3;
    border: none;
    border-radius: 5px;
}

.navbar__btn:hover{
    background-color: rgb(123, 152, 241);
    color: #011e74;
    transform: scale(0.9);
}

.navbar__text{
    color: #767676;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.navbar__input{
    width: 100%;
    max-width: 780px;
    height: 40px;
}

.chiziq{
    width: 100%;
    height: 1px;
    background-color: grey;
    margin-bottom: 10px;
}

.hero__menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-menu__text1{
    color: #555;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    margin-bottom: 10px ;
    font-style: italic;
}

.hero-menu__text{
    color: #555;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    margin-bottom: 10px ;
}

.hero-img__wrapper{
    width: 100%;
    height: 330px;
    background-color: #FEB786;
    display: flex;
    justify-content: space-around;
    margin-bottom: 65px;
}

.hero-img__text{
    width: 332px;
    height: 202.781px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 16px;
}

.img-text{
    color: #5C1B05;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    line-height: 46.8px;
}

.img-text1{
    color: #5C1B05;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    margin-top: 17px;
    margin-bottom: 24px;
}

.hero-btn{
    border: 1px solid #5C1B05;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 0px 0px 0px #333 inset;
    display: flex;
    padding: 10px 18px 12px 21px;
    align-items: center;
    gap: 8.578px;
    color: #5C1B05;
    font-size: 16px; 
    font-weight: 400;
    line-height: 20.8px; 
}

.hero-btn:hover{
    transform: scale(0.9);
}

////////////////////////////////////

.categories{
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
    overflow-x: scroll;
}

.categories-item{
    padding: 5px;
    background-color: #e6dcdc;
    border-radius: 20px;
    box-shadow: 0px 0px 5px grey;
    margin: 0 5px;
    text-decoration: none;
}

.categories-item > img{
    width: 100%;
    width: 220px;
    height: 180px;
    margin: 5px;
    border-radius: 20px 20px 0 0;
}

.categories-item > p{
    color: #191919;
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
}


.shopping{
    display: flex;
    margin-bottom: 54px;
    margin-top: 30px;
    overflow-x: scroll;
}

.shoping-item{
    padding: 5px;
    background-color:  #e6dcdc;
    border-radius: 15px;
    box-shadow: 0px 0px 5px grey;
    margin: 0 8px;
}

.p{
    color: #191919;
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 5px;
    font-style: italic;
}
.dell{
    color: #191919;
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    opacity: 0.7;
    text-decoration: none;
}

.shoping-item > img{
    width: 100%;
    width: 220px;
    height: 180px;
    margin: 5px;
    border-radius: 20px 20px 0 0;
}

.text-wrapper{
    display: flex;
}

.text-wrapper2{
    display: flex;
    align-items: center;
}

.text{
    display: flex;
    width: 450.45px;
    height: 31px;
    flex-direction: column;
    justify-content: center;
    color: #191919;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px; 
}

.text2{
    display: flex;
    align-items: center;
    color: #191919;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px; 
}

.about{
    display: flex;
    margin-top: 48px;
    margin-bottom: 65px;
    justify-content: space-between;
}

.abut_warapper{
    display: flex;
}

.about-info{
    max-width: 452px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-right: 123px;
}

.about-text{
    color: #191919;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 7px;
}

.about-text1{
    color: #707070;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.02px; 
    margin-bottom: 12px;
}

.about-btn{
    display: inline-flex;
    padding: 10px 18px 12px 21px;
    justify-content: center;
    align-items: flex-start;
    gap: 7.406px;
    border: 1px solid #000;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 0px 0px 0px #333 inset;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

.about-btn:hover{
    transform: scale(0.9);
}

footer{
    margin-top: 51px;
}

.footer-warapper{
    height: 470px;
    display: flex;
    justify-content: space-between;
}

.footer-warapper__menu{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.footer-text{
    color: #767676;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px; 
    margin-top: 12px;
}

.footer-text1{
    color: #767676;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 4px;
}

.footer-text2{
    color: #767676;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 4px;
    margin-top: 28px;
}

.footer-text3{
    color: #767676;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px; 
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.footer-states{
    height: 32px;
    display: inline-flex;
    padding: 0px 34.047px 3px 51px;
    align-items: flex-start;
    border: 1px solid #DDD;
    background: #F5F5F5;
    color: #707070;
    font-size: 11px;
    font-weight: 400;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 26px;
}
